<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Document</title>


    <style>
        .footer{
            display: flex;
            background-color: #6DABA7;
            width: 100%;
            justify-content: space-around;
            padding-top: 30px;
            
        }
    </style>
</head>
<body>
    <div class="footer">
        <div class="contactInfo">
                <div>
                    <h1>
                    Ecomm
                    </h1>
                </div>

                <div class="con">
                    <h5>Contact :</h5>
                    <p>Address :  562 Wellington Road, Street 32, San Francisco</p>
                </div>

                <div class="phone">
                    <h5>Phone :</h5>
                    <p>+01 2222 365 /(+91) 01 2345 6789</p>
                </div >
                <div class="hours">
                    <h5>Hours :</h5>
                    <p>: 10:00 - 18:00, Mon - Sat</p>
                </div>
        </div>
        <div class="aboutInfo">
            <h1>About</h1>


            <div>
                <h5>About Us</h5>
            </div>
            <div>
                <h5>Delivery Information</h5>
            </div>
            <div>
                <h5>Privacy Policy</h5>
            </div>
            <div>
                <h5>Terms & Conditions</h5>
            </div>
            <div>
                <h5>Contact Us</h5>
            </div>
            <div>
                <h5>Support Center</h5>
            </div>

        </div>
        <div class="accountInfo">
            <h1>My Account</h1>
            <div>
                <h5>Sign In</h5>
            </div>
            <div>
                <h5>View Cart</h5>
            </div>
            <div>
                <h5>My Wishlist</h5>
            </div>
            <div>
                <h5>Track My Order</h5>
            </div>
            <div>
                <h5>Help</h5>
            </div>
            <div>
                <h5>Order</h5>
            </div>


        </div>
      
    </div>
</body>
</html>